<br>
<hr>
<h2 class="bangers" style="color: #dfdfdf;">Latest Comments Folks!</h2>

<div class="table-responsive-sm"  style="font-size: 15px;">
    <table class="table table-bordered table-dark" style="width: auto;">
        <tbody>
            <tr *ngFor="let anime of latestComment">                
    
                <td>
                    <img [src]="anime.url" class="mx-auto d-block" height="100">
                    <hr style="background-color: white;">
                    <h4 class="text-center">{{anime.animeName}}</h4> 
                </td>

                <td style="text-align: center;">
                    <p class="text-center"> {{anime.username}}</p> 
                    <br>
                    <p class="text-center">{{anime.date | date}}</p> 
                </td>

                <td  style="text-align: center;" >
                    
                    <p >{{anime.comment}}</p> 
                    
                </td>

            </tr>
        </tbody>
    </table>
</div>