.bangers {
    color:  #006080;    
    font-family: "Bangers";
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    text-shadow: 0 1px 1px #99e6ff;
    margin: 10px 10px 10px 10px;
}