<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            
            <a class="navbar-brand" [routerLink]="['/']">
                <h1 class="bangers">AnimeCentral</h1>
            </a>
            
            <div class="navbar-nav ml-auto">

                <a class="nav_link" [routerLink]="['/login']" *ngIf="!logInService.isUserLoggedIn()">
                    <button style="font-family: 'Bangers'; color: #ebe9e9; font-size: 20px;" class="btn btn btn-primary mx-2">Login</button>
                </a>
                
                <a class="nav_link" [routerLink]="['/signup']" *ngIf="!logInService.isUserLoggedIn()">
                    <button style="font-family: 'Bangers'; color: #ebe9e9; font-size: 20px;" class="btn btn btn-primary mx-2">Sign up</button>
                </a>

                <div class="dropdown" mdbDropdown *ngIf="logInService.isUserLoggedIn()">
                    <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                      mdbWavesEffect>
                      User: {{ logInService.getLoggedInUserUsername() }}
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" [routerLink]="['/user/']">Profile</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/topAnimes']">Check this!</a>
                    </div>
                  </div>

                <a class="nav_link" *ngIf="logInService.isUserLoggedIn()">
                    <button style="font-family: 'Bangers'; color: #ebe9e9; font-size: 20px;" (click)="userLogOut()" class="btn btn btn-success mx-2">Log Out</button>
                </a>
                

            </div>
        </nav>
    </div>
</div>
