<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            
            <a class="navbar-brand" [routerLink]="['/']">
                <h1 class="bangers">AnimeCentral</h1>
            </a>
            
            <div class="navbar-nav ml-auto">

                <a class="nav_link" [routerLink]="['/login']" *ngIf="!logInService.isUserLoggedIn()">
                    <button class="btn btn btn-primary mx-2">Login</button>
                </a>
                
                <a class="nav_link" [routerLink]="['/signup']" *ngIf="!logInService.isUserLoggedIn()">
                    <button class="btn btn btn-primary mx-2">Sign up</button>
                </a>

                
                <h3 class="navbar-brand" *ngIf="logInService.isUserLoggedIn()">{{ logInService.getLoggedInUserUsername() }}</h3>

                <a class="nav_link" *ngIf="logInService.isUserLoggedIn()">
                    <button (click)="userLogOut()" class="btn btn btn-success mx-2">Log Out</button>
                </a>
                

            </div>
        </nav>
    </div>
</div>
