<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            
            <a class="navbar-brand" [routerLink]="['/']">
                <h1>AnimePlanet</h1>
            </a>
            
            <div class="navbar-nav ml-auto">

                <a class="nav_link" [routerLink]="['/login']">
                    <button class="btn btn btn-success mx-2">Login</button>
                </a>
                
                <a class="nav_link" [routerLink]="['/signup']">
                    <button class="btn btn btn-success mx-2">Sign up</button>
                </a>
            </div>
        </nav>
    </div>
</div>