<h1>Most Popular Anime</h1>


<!-- <ol class="list-unstyled">

    <li *ngFor="let anime of mostPopularAnime" class="media">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">

                    <img [src]="anime.picture_URL" alt="Lights" style="width:100%">
                    <div class="media-body">
                        <p>{{ anime.name }}</p>
                    </div>

                </div>
            </div>
        </div>

    </li>
</ol> -->

<!-- <ul class="list-unstyled">
    <li class="media my-4" *ngFor="let anime of mostPopularAnime">
      <img class="mr-3 mx-auto d-block" [src]="anime.picture_URL" alt="Generic placeholder image" height="300">
      <div class="media-body" >
        <h3 class="mt-0 mb-1">{{anime.name}}</h3>
        <p>{{anime.name}}</p>
      </div>
    </li>
</ul> -->
<!-- <div class="container" *ngFor="let anime of mostPopularAnime">    
    <div class="panel-group" >
        <div class="panel panel-default">
            <div class="panel-heading">{{anime.name}}</div>
            <div class="panel-body">
                <img class="mr-3 mx-auto d-block" [src]="anime.picture_URL" alt="Generic placeholder image" height="300">
            </div>
        </div>
    </div> -->

<div class="table-responsive-sm">
<table class="table table-striped">
    <tbody>
        <tr *ngFor="let anime of mostPopularAnime; let i = index" class="table-active">

            <th scope="row">{{i+1}}</th>

            <td>
                <img [src]="anime.picture_URL" class="figure-img img-fluid rounded" height="270">
                <hr>
                <p>{{anime.date_aired | date}}</p>
            </td>

            <td>
                <h3>{{anime.name}}</h3>                
                <p>{{anime.description}}</p>
            </td>
        </tr>
    </tbody>
</table>
</div>