p {
    color: #999999;
}

h1 {
    color: #999999;   
}

h3 {
    color: #999999;   
}

.bangers {
    color:  #006080;    
    font-family: "Bangers";
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #99e6ff;
}