<div class="container bangers">
<h1 style="font-size: 25px;">Most Popular Anime</h1>


<!-- <ol class="list-unstyled">

    <li *ngFor="let anime of mostPopularAnime" class="media">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">

                    <img [src]="anime.picture_URL" alt="Lights" style="width:100%">
                    <div class="media-body">
                        <p>{{ anime.name }}</p>
                    </div>

                </div>
            </div>
        </div>

    </li>
</ol> -->

<!-- <ul class="list-unstyled">
    <li class="media my-4" *ngFor="let anime of mostPopularAnime">
      <img class="mr-3 mx-auto d-block" [src]="anime.picture_URL" alt="Generic placeholder image" height="300">
      <div class="media-body" >
        <h3 class="mt-0 mb-1">{{anime.name}}</h3>
        <p>{{anime.name}}</p>
      </div>
    </li>
</ul> -->
<!-- <div class="container" *ngFor="let anime of mostPopularAnime">    
    <div class="panel-group" >
        <div class="panel panel-default">
            <div class="panel-heading">{{anime.name}}</div>
            <div class="panel-body">
                <img class="mr-3 mx-auto d-block" [src]="anime.picture_URL" alt="Generic placeholder image" height="300">
            </div>
        </div>
    </div> -->

<div class="table-responsive-sm">
<table class="table table-striped table-dark" style="width: auto;">
    <tbody>
        <tr *ngFor="let anime of mostPopularAnime; let i = index">

            <th scope="row">{{i+1}}</th>

            <td>
                <img [src]="anime.picture_URL" class="mx-auto d-block" height="150">
                <hr style="background-color: white;">
                <h3 class="text-center">{{anime.name}}</h3> 
                <p class="text-center">{{anime.date_aired | date}}</p>
            </td>
        </tr>
    </tbody>
</table>

<a class="navbar-brand" [routerLink]="['/topAnimes']">
    <button type="button" class="btn btn-secondary btn-lg btn-block btn-dark" style="display: inline-block; width: 100%;">Show More</button>
</a>

</div>
</div>
