.imgSizeContainer {
    width: 200px;
    height: 120px;
}

/* resize images */
.imgSizeContainer img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
  }