<div class="row" style="color:white">
    <div class="col-3" style="width:30%; height:1200px;">
        <img class="img-fluid imgBor" style="width:100%; height:40%;" src="{{anime.picture_URL}}">
    
    </div>
    <div class="col-9">
        <h1 class="mr-auto bangers" style="text-align: left;">{{anime.name}}</h1>
        <p> {{ anime.description }}</p>

        <div class="mr-auto row" *ngIf="this.anime.total_score">
            <h1 class="bangers" style="margin-left: 12px;"> Anime Rating: {{ anime.total_score }}/10</h1>
            <img style="width: 45px; height: 45px; margin-top: 10px;"src="/assets/ah.png">
        </div>

        <div *ngIf="loginService.isUserLoggedIn()">

            <div class="row">
                <div class="column" *ngIf="!onWishList">
                <button class="btn btn-primary bangers" style="font-size: 20px;" (click)="addToWish()">Add to my wish list</button>
                </div>
                <div class="column" *ngIf="!onWatchList">
                <button class="btn btn-primary bangers" style="margin-left: 10px; font-size: 20px;" (click)="addToWatched()">Add to my watched list</button>
                </div>

            </div>
    
            <br/>

            <form *ngIf="!onRateList" [formGroup]="rateForm" (submit)="rate(rateForm.value)">
                <div class="container">
                <input type="radio" value='1' formControlName="rating"> 1
                <input type="radio" value='2' formControlName="rating"> 2
                <input type="radio" value='3' formControlName="rating"> 3
                <input type="radio" value='4' formControlName="rating"> 4
                <input type="radio" value='5' formControlName="rating"> 5
                <input type="radio" value='6' formControlName="rating"> 6
                <input type="radio" value='7' formControlName="rating"> 7
                <input type="radio" value='8' formControlName="rating"> 8
                <input type="radio" value='9' formControlName="rating"> 9
                <input type="radio" value='10' formControlName="rating"> 10
    
                <button class='btn btn-primary' [disabled]="!rateForm.valid">Rate ME!</button>
                </div>
            </form>

            <form [formGroup]="commentForm" (submit)="onComment(commentForm.value)">
                <div class="container">
                <input type="text-area" formControlName="comment"> 
                <button class='btn btn-primary' style="border-radius: 20px;" [disabled]="!commentForm.valid">Comment ME!</button>
                </div>
            </form>


        </div>
        <p>{{ anime.Comments }}</p>

        <div>

            <h1 class="bangers" style="text-align : left">Most Awesome Comments Ever!</h1>
        
            <div class="table-responsive-sm">
        
                <table class="table table-bordered table-dark" style="width: auto;">
        
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col"><h3 class="text-center">User</h3></th>
                          <th scope="col"><h3 class="text-center">Comment</h3></th>
                          <th scope="col"><h3 class="text-center">Date</h3></th>
                        </tr>
                      </thead>
                    
        
                    <tbody>
                        <tr *ngFor="let com of anime.Comments | comments; let i = index" class="table-active">
        
                            
                            <th scope="row"><p class="text-center">{{com[0]}}</p></th>
                            
        
                            <td>
                                <p>
                                    {{com[1]}} 
                                    
                                </p>
                            </td>
        
                            
                            <td>
                                <p class="text-center">{{com[2]}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
        
        </div>

       

  </div>

  
        
        

